[general]
vlc_path: /path/to/vlc
[video]
ep4: /path/to/episode_4
ep5: /path/to/episode_5
ep6: /path/to/episode_6
[srt]
ep4: subs/IV-A.New.Hope[1977]DvDrip-aXXo.srt
ep5: subs/V-The.Empire.Strikes.Back[1980]DvDrip-aXXo.srt
ep6: subs/VI-Return.Of.The.Jedi[1983]DvDrip-aXXo.srt
[imgur]
client_id: imgur_client_id
api_key: imgur_client_secret
[twitter]
app_key: twitter_app_key
app_secret: twitter_app_secret
oauth_token: twitter_oauth_token
oauth_token_secret: twitter_oauth_token_secret
[tumblr]
consumer_key: tumblr_consumer_key
consumer_secret: tumblr_consumer_secret
oauth_token: tumblr_oauth_token
oauth_token_secret: tumblr_oauth_token_secret